# This rule is not used by the project trino-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants full permissions ('*') over trino.kubedoop.dev.
# This role is intended for users authorized to modify roles and bindings within the cluster,
# enabling them to delegate specific permissions to other users or groups as needed.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: trino-operator
    app.kubernetes.io/managed-by: kustomize
  name: trinocluster-admin-role
rules:
- apiGroups:
  - trino.kubedoop.dev
  resources:
  - trinoclusters
  verbs:
  - '*'
- apiGroups:
  - trino.kubedoop.dev
  resources:
  - trinoclusters/status
  verbs:
  - get
