# This rule is not used by the project trino-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to trino.kubedoop.dev.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: trino-operator
    app.kubernetes.io/managed-by: kustomize
  name: trinocluster-viewer-role
rules:
- apiGroups:
  - trino.kubedoop.dev
  resources:
  - trinoclusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - trino.kubedoop.dev
  resources:
  - trinoclusters/status
  verbs:
  - get
