---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: trinocatalogs.trino.kubedoop.dev
spec:
  group: trino.kubedoop.dev
  names:
    kind: TrinoCatalog
    listKind: TrinoCatalogList
    plural: trinocatalogs
    singular: trinocatalog
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: TrinoCatalog is the Schema for the trinocatalogs API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TrinoCatalogSpec defines the desired state of TrinoCatalog
            properties:
              configOverrides:
                additionalProperties:
                  type: string
                description: 'The configOverrides allow overriding arbitrary Trino
                  settings. For example, for Hive you could add hive.metastore.username:
                  trino.'
                type: object
              connector:
                description: List of connectors in the catalog
                properties:
                  generic:
                    properties:
                      name:
                        type: string
                      properties:
                        properties:
                          value:
                            type: string
                          valueFromConfiguration:
                            properties:
                              key:
                                type: string
                              name:
                                type: string
                              type:
                                default: configmap
                                enum:
                                - configmap
                                - secret
                                type: string
                            required:
                            - name
                            type: object
                        type: object
                    required:
                    - name
                    type: object
                  hive:
                    properties:
                      hdfs:
                        properties:
                          configMap:
                            type: string
                        type: object
                      metastore:
                        properties:
                          configMap:
                            type: string
                        type: object
                      s3:
                        description: S3BucketSpec defines the desired fields of S3Bucket
                        properties:
                          bucketName:
                            type: string
                          connection:
                            properties:
                              inline:
                                description: S3ConnectionSpec defines the desired
                                  credential of S3Connection
                                properties:
                                  credentials:
                                    description: |-
                                      Provides access credentials for S3Connection through SecretClass. SecretClass only needs to include:
                                       - ACCESS_KEY
                                       - SECRET_KEY
                                    properties:
                                      scope:
                                        description: SecretClass scope
                                        properties:
                                          node:
                                            type: boolean
                                          pod:
                                            type: boolean
                                          services:
                                            items:
                                              type: string
                                            type: array
                                        type: object
                                      secretClass:
                                        type: string
                                    required:
                                    - secretClass
                                    type: object
                                  host:
                                    type: string
                                  pathStyle:
                                    default: false
                                    type: boolean
                                  port:
                                    type: integer
                                  tls:
                                    properties:
                                      verification:
                                        description: |-
                                          TLSPrivider defines the TLS provider for authentication.
                                          You can specify the none or server or mutual verification.
                                        properties:
                                          mutual:
                                            properties:
                                              certSecretClass:
                                                type: string
                                            required:
                                            - certSecretClass
                                            type: object
                                          none:
                                            type: object
                                          server:
                                            properties:
                                              caCert:
                                                description: |-
                                                  CACert is the CA certificate for server verification.
                                                  You can specify the secret class or the webPki.
                                                properties:
                                                  secretClass:
                                                    type: string
                                                  webPki:
                                                    type: object
                                                type: object
                                            required:
                                            - caCert
                                            type: object
                                        type: object
                                    type: object
                                required:
                                - credentials
                                - host
                                type: object
                              reference:
                                type: string
                            type: object
                        required:
                        - bucketName
                        type: object
                    type: object
                  iceberg:
                    properties:
                      hdfs:
                        properties:
                          configMap:
                            type: string
                        type: object
                      metastore:
                        properties:
                          configMap:
                            type: string
                        type: object
                      s3:
                        description: S3BucketSpec defines the desired fields of S3Bucket
                        properties:
                          bucketName:
                            type: string
                          connection:
                            properties:
                              inline:
                                description: S3ConnectionSpec defines the desired
                                  credential of S3Connection
                                properties:
                                  credentials:
                                    description: |-
                                      Provides access credentials for S3Connection through SecretClass. SecretClass only needs to include:
                                       - ACCESS_KEY
                                       - SECRET_KEY
                                    properties:
                                      scope:
                                        description: SecretClass scope
                                        properties:
                                          node:
                                            type: boolean
                                          pod:
                                            type: boolean
                                          services:
                                            items:
                                              type: string
                                            type: array
                                        type: object
                                      secretClass:
                                        type: string
                                    required:
                                    - secretClass
                                    type: object
                                  host:
                                    type: string
                                  pathStyle:
                                    default: false
                                    type: boolean
                                  port:
                                    type: integer
                                  tls:
                                    properties:
                                      verification:
                                        description: |-
                                          TLSPrivider defines the TLS provider for authentication.
                                          You can specify the none or server or mutual verification.
                                        properties:
                                          mutual:
                                            properties:
                                              certSecretClass:
                                                type: string
                                            required:
                                            - certSecretClass
                                            type: object
                                          none:
                                            type: object
                                          server:
                                            properties:
                                              caCert:
                                                description: |-
                                                  CACert is the CA certificate for server verification.
                                                  You can specify the secret class or the webPki.
                                                properties:
                                                  secretClass:
                                                    type: string
                                                  webPki:
                                                    type: object
                                                type: object
                                            required:
                                            - caCert
                                            type: object
                                        type: object
                                    type: object
                                required:
                                - credentials
                                - host
                                type: object
                              reference:
                                type: string
                            type: object
                        required:
                        - bucketName
                        type: object
                    type: object
                  tpcds:
                    type: object
                  tpch:
                    type: object
                type: object
            required:
            - connector
            type: object
          status:
            description: TrinoCatalogStatus defines the observed state of TrinoCatalog
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
